@model SchoolPublications.Models.EditUserViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Document" class="control-label"></label>
            <input asp-for="Document" class="form-control" />
            <span asp-validation-for="Document" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        @*<div class="form-group">
            <label asp-for="AdmissionDate" class="control-label"></label>
            <input asp-for="AdmissionDate" class="form-control" />
            <span asp-validation-for="AdmissionDate" class="text-danger"></span>
        </div>*@
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" class="form-control" type="file" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

    </div>
</div>
