@model SchoolPublications.DAL.Entities.Comment

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Comment</h1>

@using (Html.BeginForm("Edit", "Comment"))
{
@Html.HiddenFor(model => model.Id)

<div class="form-group">
    @Html.LabelFor(model => model.Content)
    @Html.TextBoxFor(model => model.Content, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
</div>

<div class="form-group">
    <input type="submit" value="Save" class="btn btn-primary" />
</div>
}

<a asp-action="Index">Back to List</a>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
